* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #141414;
  color: white;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.App {
  min-height: 100vh;
}

main {
  padding-top: 80px; /* para compensar o header fixo */
  min-height: calc(100vh - 80px);
}