* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #141414;
  color: white;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.App {
  min-height: 100vh;
  position: relative;
}

main {
  padding-top: 80px; /* para compensar o header fixo */
  min-height: calc(100vh - 80px);
}

@media (max-width: 768px) {
  main {
    padding-top: 60px; /* Header menor no mobile */
  }
}